@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 8%;
  --foreground: 213 31% 91%;
  
}
  
@keyframes rainbow-bg {
  0% {
    background-color: rgba(244, 114, 182, 0.2);
  } /* pink-400 */
  20% {
    background-color: rgba(248, 113, 113, 0.2);
  } /* red-400 */
  40% {
    background-color: rgba(251, 146, 60, 0.2);
  } /* orange-400 */
  60% {
    background-color: rgba(163, 230, 53, 0.2);
  } /* lime-400 */
  80% {
    background-color: rgba(34, 211, 238, 0.2);
  } /* cyan-400 */
  100% {
    background-color: rgba(167, 139, 250, 0.2);
  } /* violet-400 */
}

.animate-rainbow {
  animation: rainbow-bg 10s linear infinite;
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

::selection {
  background-color: rgba(139, 92, 246, 0.2); /* violet-500 with opacity */
  color: inherit;
}
